 *{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    
    font-family: 'Press Start 2P', cursive;
}

body
{
    background-color: black;
    color: white;

}
h1{font-size: 25px; text-align: center;}
h2{
    font-size: 35px;
    text-align: center; 
    margin: 20px; 
    text-shadow:0px 0px 15px cyan;
}
h3{text-align: center; margin: 10px; font-size: 25px;}
h4{font-size: 20px; margin: 10px;}
h6{margin: 5px;}
p{font-size:  20px; font-family: Arial, Helvetica, sans-serif;}
b{color:aquamarine;}
span
{
    font-family: ar;
    font-style:oblique; 
    font-size: 90%;
    color: rgb(131, 131, 131);

}
li{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}


 
.cabecera
{
    background-color: rgb(10,10,70);
    height: fit-content;
    margin-bottom: 10px;
    border: none;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
    .cabecera__imagen
    {
        position: relative;
        width:10vw;
        min-width: 140px;
        height: fit-content;
        background-color: rgb(70,0,200);
        border: none;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin-right: 10px;
        align-items: center;
        box-shadow: rgba(70, 0, 200,0.99) 10px -2px 20px 9px;
    }
        .cabecera__imagen img 
        {
            position: relative;
            height: 100px;
            
            border: solid 2px rgba(0, 110, 253, 0.8);
            border-radius: 50px;
            box-shadow: inset 0px 0px 15px 1px rgba(0, 110, 253, 0.8);
        }
        .cabecera__imagen figcaption
        {
            font-family:'Brush Script MT';
            font-size: 20px;
            border: none ;
            border-radius: 15px;
        
        }
    .cabecera__nav
    {
        position:relative;
        border: none;
        width: 70vw;
    }
        .cabecera__nav ul
        {
            display: flex;
            width: 50vw;
            min-width: 300px;
            justify-content: space-around;
            padding: 5px;
            border: none;
            list-style: none;
        }
            .cabecera__nav ul li 
            {
                border: none;
                color:white;
                font-size: 18px;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            .cabecera__nav ul li a:link{color:cyan;}
            .cabecera__nav ul li a:visited{color:rgb(4, 109, 104); }
            .cabecera__nav ul li a:hover
            {
                box-shadow: rgb(8, 114, 235) 0px 0px 10px 10px;
                background-color: rgb(8, 114, 235) ;
                border-radius: 15px;
                color:aquamarine;
            }

/* ------------------------------------------------------------------------------------------ */
main
{
    display: flex;
    }
.cuerpo
{
    display: inline-block;
    width: 80vw;
    background-color: rgb(3,3,36);
    padding: 10px;
}
.img1
{
    height: 200px;
    margin: 10px;
}
.img5{height:250px; padding: 10px;}
li{margin-left: 20px;}
.aside
{
    width:19vw;
    min-width: 160px;
    background-color: rgb(6, 6, 27);
    padding-left: 20px;
    padding-top: 20px;
    
}
.aside h5
{
    color:aquamarine;

}
.aside li
{
    padding: 5px; 
    position: relative; 
    left: 25px;
    width: fit-content;
    
} 
